# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# Keystore / signing
*.jks
*.keystore

# Kotlin/Java
*.class
out/
